<div class="body">
  <app-navigate></app-navigate>
  <div class="content">
    <h1>Vista de Ph</h1>
    <div class="graphics">
      <app-time-series-graphs
        [title]="'PH a lo largo del tiempo'"
        [color]="'#2F734C'"
        [data]="phSeriesData">
      </app-time-series-graphs>

      <div class="row-graphics">
        <app-histograma-card
          [title]="'Histograma de pH'"
          [dataLabels]="histoLabels"
          [dataValues]="histoValues">
        </app-histograma-card>

        <app-donut-chart
          [labels]="donutLabels"
          [data]="donutData"
          [colors]="donutColors">
        </app-donut-chart>
      </div>
    </div>
  </div>
</div>