<div class="body">
    <div class="title">
        <h1>¿Quiénes somos?</h1>
        <img src="/assets/images/logo-empresa.png" alt="logo">
    </div>
    <div class="text">
        <p>
        Somos un equipo de jóvenes apasionados por la tecnología y el desarrollo de software. 
        Tenemos la visión de transformar ideas en soluciones digitales innovadoras, combinando 
        creatividad y conocimiento académico. Creemos que el futuro se escribe en código, 
        y queremos ser parte de esa historia.
        </p>
    </div>
    <div class="info">
        <div class="card">
            <h3>Misión</h3>
            <p>
                Ser una empresa que desarrolle soluciones de software  que 
                impulsen la transformación digital además de que satisfaga 
                correctamente con las necesidades reales del proyecto. 
            </p>
        </div>
        <div class="card">
            <h3>Visión</h3>
            <p>
                Convertirnos en una empresa con enfoque social, reconocida por su creatividad, 
                profesionalismo y capacidad para generar soluciones tecnológicas accesibles, 
                escalables y centradas en las personas.
            </p>
        </div>
    </div>
</div>