<div class="body">
    <h1>¿De qué trata el proyecto?</h1>
    <div class="card">
        <p>El proyecto consiste en un sistema inteligente que permite monitorear 
        en tiempo real las condiciones ideales de una vermicomposta, como la 
        temperatura y humedad.
        <br>
        Además, incluye un dashboard interactivo que muestra gráficas en tiempo real, 
        históricos de datos y alertas del sistema, facilitando el mantenimiento de la 
        composta sin supervisión constante.
    </p>
    <img src="assets/images/plantita.png" alt="planta" width="300" height="300">
    </div>
</div>