<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿De qué trata el proyecto?</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="proyecto.component.css">
</head>
<body>
    <div class="body">
        <h1>¿De qué trata el proyecto?</h1>
        <div class="card">
            <p>El proyecto consiste en un sistema inteligente que permite monitorear 
            en tiempo real las condiciones ideales de una vermicomposta, como la 
            temperatura y humedad.
            <br><br>
            Además, incluye un dashboard interactivo que muestra gráficas facilitando el mantenimiento de la 
            composta sin supervisión constante.
            </p>
            <img src="assets/images/plantita.png" alt="planta" class="imagen-planta">
        </div>
    </div>
</body>
</html>