<div class="dashboard">
  <app-navigate></app-navigate>
  <div *ngIf="isSensorAlertActive" class="sensor-alert-modal"> <app-sensor-alert [sensorName]="sensorName" [alertDescription]="alertDescription" [wormImage]="'assets/images/error.png'" [showAlert]="isSensorAlertActive"> </app-sensor-alert> <button class="close-alert-button" (click)="toggleAlert()">✖</button> </div>

  <div class="main-content">
    <div class="title">
      <img src="assets/images/icon-tiemporeal.png" alt="icon-tiemporeal">
      <h1>Datos en tiempo real</h1>
    </div>
    <div class="cards-container">
      <app-real-time-card
  title="Humedad"
  [value]="humedadValue"
  unit="%"
  color="#4682A9"
  icon="assets/images/icon-humedad.png">
</app-real-time-card>

<app-real-time-card
  title="Conductividad eléctrica"
  [value]="conductividadValue"
  unit="EC"
  color="#d79e39"
  icon="assets/images/icon-conductividad.png">
</app-real-time-card>

<app-real-time-card
  title="Temperatura"
  [value]="temperaturaValue"
  unit="°C"
  color="#e1533c"
  icon="assets/images/icon-temperatura.png">
</app-real-time-card>

<app-real-time-card
  title="Ph"
  [value]="phValue"
  unit=""
  color="#217c61"
  icon="assets/images/icon-ph.png">
</app-real-time-card>

<app-real-time-card
  title="Turbidez"
  [value]="turbidezValue"
  unit=""
  color="#8B7A9B"
  icon="assets/images/icon-turbidez.png">
</app-real-time-card>


    </div>
    <div class="graphs-container">
  <div class="buttons">
    <button (click)="openSamplingModal()">Iniciar medición</button>
    <app-modal-inicio
      [showModal]="isSamplingModalVisible"
      [title]="'Muestreo de Campo'"
      (initiateSampling)="handleInitiateSampling($event)"
      (closeModal)="isSamplingModalVisible = false">
    </app-modal-inicio>

    <button (click)="openEndSamplingModal()" class="secondary-button">Detener medición</button>
    <app-modal-final
      [showModal]="isEndSamplingModalVisible"
      [title]="'Resultados del muestreo - 01'"
      (endSampling)="handleEndSampling($event)"
      (closeModal)="isEndSamplingModalVisible = false">
    </app-modal-final>
  </div>

  <!-- ✅ Gráfica de probabilidad -->
  <div class="probability-section">
    <app-sensor-probability-chart></app-sensor-probability-chart>
  </div>

  <!-- ✅ Gráficas de correlación -->
  <div class="correlation-section">
    <app-graph-card
      [sensor1Name]="'Temperatura'"
      [sensor2Name]="'Humedad'"
      [title]="'Correlación entre Temperatura y Humedad'"
      [dataPoints]="corTempHumData">
    </app-graph-card>


    <app-graph-card 
      [sensor1Name]="'PH'"
      [sensor2Name]="'TDS'"
      [title]="'Correlación entre PH y TDS'"
      [dataPoints]="corPhTdsData">
    </app-graph-card>

  </div>
</div>

  </div>