<div class="dashboard">
  <app-navigate></app-navigate>
   <div *ngIf="isSensorAlertActive" class="sensor-alert-modal">
    <app-sensor-alert
      [sensorName]="'Ph'"
      [alertDescription]="'Ph = 8.3 es mayor que el máximo permitido 7.5'"
      [wormImage]="'assets/images/error.png'"
      [showAlert]="isSensorAlertActive">
    </app-sensor-alert>
    <button class="close-alert-button" (click)="toggleAlert()">✖</button>
  </div>

  <div class="main-content">
    <div class="title">
      <img src="assets/images/icon-tiemporeal.png" alt="icon-tiemporeal">
      <h1>Datos en tiempo real</h1>
    </div>
    <div class="cards-container">
      <app-real-time-card
        title="Humedad"
        [value]="0"
        unit="%"
        color="#4682A9"
        icon="assets/images/icon-humedad.png">
      </app-real-time-card>

      <app-real-time-card
        title="Conductividad eléctrica"
        [value]="0"
        unit="EC"
        color="#d79e39"
        icon="assets/images/icon-conductividad.png">
      </app-real-time-card>

      <app-real-time-card
        title="Temperatura"
        [value]="0"
        unit="°C"
        color="#e1533c"
        icon="assets/images/icon-temperatura.png">
      </app-real-time-card>

      <app-real-time-card
        title="Ph"
        [value]="0"
        unit=""
        color="#217c61"
        icon="assets/images/icon-ph.png">
      </app-real-time-card>

      <app-real-time-card
        title="Turbidez"
        [value]="0"
        unit=""
        color="#B949B9"
        icon="assets/images/icon-turbidez.png">
      </app-real-time-card>
    </div>
    <div class="graphs-container">
       <div class="buttons">
            <button (click)="openSamplingModal()">Iniciar medición</button>
            <app-modal-inicio
            [showModal]="isSamplingModalVisible"
            [title]="'Muestreo de Campo'"
            (initiateSampling)="handleInitiateSampling($event)"
            (closeModal)="isSamplingModalVisible = false"
            ></app-modal-inicio>
            <button (click)="openEndSamplingModal()" class="secondary-button">Detener medición</button>
            <app-modal-final
            [showModal]="isEndSamplingModalVisible"
            [title]="'Resultados del muestreo - 01'"
            (endSampling)="handleEndSampling($event)"
            (closeModal)="isEndSamplingModalVisible = false">
            ></app-modal-final>
          </div>
        <div class="correlation-section">
  <app-graph-card
    title="Matriz de correlación de sensores"
    [labels]="[]"
    [datasets]="correlationMatrixData"
    [chartType]="'bubble'"
    [bgColor]="'#B949B9'">
  </app-graph-card>
</div>

<div class="scatter-section">
  <app-graph-card
    title="Ph vs Temperatura"
    [labels]="[]"
    [datasets]="scatterPhTemp"
    [chartType]="'scatter'"
    [bgColor]="'#e1533c'">
  </app-graph-card>

  <app-graph-card
    title="Humedad vs Temperatura"
    [labels]="[]"
    [datasets]="scatterHumTemp"
    [chartType]="'scatter'"
    [bgColor]="'#4682A9'">
  </app-graph-card>

  <app-graph-card
    title="Ph vs Conductividad"
    [labels]="[]"
    [datasets]="scatterPhCond"
    [chartType]="'scatter'"
    [bgColor]="'#217c61'">
  </app-graph-card>
</div>
        </div>
    </div>

  </div>