<div class="body">
  <app-navigate></app-navigate>
  <div class="content">
    <h1>Vista de Conductividad Eléctrica</h1>
    <div class="graphics">
  <app-time-series-graphs
    [title]="'Conductividad Eléctrica a lo largo del tiempo'"
    [color]="'#C98923'"
    [data]="[]">
  </app-time-series-graphs>

  <div class="row-graphics">
    <app-histograma-card
      [title]="'Histograma de pH'"
      [dataLabels]="['0-4', '4-5', '5-6', '6-7', '7-8']"
      [dataValues]="[2, 10, 15, 7, 1]">
    </app-histograma-card>

    <app-donut-chart
      [labels]="['Baja', 'Adecuada', 'Alta']"
      [data]="[10, 25, 15]"
      [colors]="['#f87171', '#60a5fa', '#34d399']">
    </app-donut-chart>
  </div>
</div>
</div>
