<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Responsive</title>
    <link rel="stylesheet" href="footer.component.css">
</head>
<body>
    <footer>
        <a href="#" class="social-link">
            <img src="assets/images/facebook.png" alt="facebook">
        </a>
        <a href="#" class="social-link">
            <img src="assets/images/instagram.png" alt="instagram">
        </a>
        <a href="#" class="social-link">
            <img src="assets/images/twiter.png" alt="x">
        </a>
    </footer>
</body>
</html>