.body {
  display: grid;
  grid-template-columns: 350px 1fr;
  height: 100vh;
  background-color: #6E3002;
  overflow: hidden;
}

.container {
  padding: 32px;
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #4B1E00;
  font-family: 'Segoe UI', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.header h1 {
  font-size: 32px;
  color: #f9f1dc;
  font-weight: 600;
}

.content-2 {
  background-color: #f9f1dc;
  padding: 40px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: 70vh;
  width: auto;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

.datos-personales {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.datos-personales h2,
.alertas h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #6E3002;
  font-weight: bold;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

label {
  font-size: 30px;
  color: #6E3002;
  font-weight: 600;
  min-width: 100px;
}

h3, p {
  font-size: 25px;
  margin: 0;
  color: #6E3002;
  font-weight: 600;
}

.alertas {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.alertas .edit {
  display: flex;
  gap: 20px;
}
.alertas .edit img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  object-fit: contain;
}

.alertas img,
.datos-personales img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  object-fit: contain;
  gap: 30px;
}

hr {
  border: none;
  border-top: 4px solid #803300;
  margin: 25px 0;
}