<div class="sensor-card" [ngStyle]="{ 'background-color': bgColor }">
  <h3>
    <img src="assets/images/icon-{{ sensor.toLowerCase() }}.png" alt="{{ sensor }}">
    {{ sensor }}
  </h3>

  <div class="row">
    <span>Estado del sensor:</span>
    <label class="switch">
      <input type="checkbox" [(ngModel)]="sensorActivo" />
      <span class="slider"></span>
    </label>
  </div>

  <div class="row"><strong>Alerta:</strong></div>

  <div class="row">
    <label>Valor Mínimo:</label>
    <input type="number" />
  </div>

  <div class="row">
    <label>Valor Máximo:</label>
    <input type="number" />
  </div>

  <div class="row">
    <label>Lapso de recolección:</label>
    <input type="number" />
  </div>
</div>
