<div class="body">
    <app-navigate></app-navigate>
    <div class="main-content">
    <div class="title">
      <img src="assets/images/icon-tiemporeal.png" alt="icon-tiemporeal">
      <h1>Datos en tiempo real</h1>
    </div>
    <div class="cards-container">
      <app-real-time-card
        title="Humedad"
        [value]="0"
        unit="%"
        color="#4682A9">
      </app-real-time-card>

      <app-real-time-card
        title="Conductividad eléctrica"
        [value]="0"
        unit="EC"
        color="#d79e39">
      </app-real-time-card>

      <app-real-time-card
        title="Temperatura"
        [value]="0"
        unit="°C"
        color="#e1533c">
      </app-real-time-card>

      <app-real-time-card
        title="Ph"
        [value]="0"
        unit=""
        color="#217c61">
      </app-real-time-card>
    </div>
    <div class="controles">
    <h1>Control de Parámetros</h1>
    <div class="seleccion">
        <h3>Tipo de Sensor:</h3>
        <select [(ngModel)]="tipoSensorSeleccionado">
        <option value="Humedad">Humedad</option>
        <option value="Temperatura">Temperatura</option>
        <option value="Conductividad">Conductividad</option>
        <option value="Ph">Ph</option>
        </select>
        <h3>Actuadores</h3>
    </div>

    <div class="parametros-control">
        <app-control-sensor
          [sensor]="tipoSensorSeleccionado"
          [bgColor]="colores[tipoSensorSeleccionado]">
        </app-control-sensor>

        <app-control-actuador></app-control-actuador>
  </div>
</div>

</div>