<div class="modal-overlay" *ngIf="showModal" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2 class="modal-title">{{ title }}</h2>

    <div class="input-group">
      <label for="description">Descripción:</label>
      <input
        type="text"
        id="description"
        [(ngModel)]="description"
        placeholder="Ingrese una descripción"
      />
    </div>

    <div class="input-group quantity-with-unit"> <label for="worms-quantity">Cantidad de lombrices:</label>
      <div class="input-and-select"> <input
          type="number"
          id="worms-quantity"
          [(ngModel)]="wormsQuantity"
          placeholder="0"
        />
        <select id="worms-unit" [(ngModel)]="wormsUnit">
          <option *ngFor="let unit of wormsUnits" [value]="unit">{{ unit }}</option>
        </select>
      </div>
    </div>

    <div class="input-group">
      <label for="worm-type">Tipo de lombrices:</label>
      <select id="worm-type" [(ngModel)]="wormType">
        <option value="" disabled selected>Seleccione un tipo</option> <option *ngFor="let type of commonWormTypes" [value]="type">{{ type }}</option>
      </select>
    </div>

    <button class="initiate-button" (click)="onInitiate()">Iniciar</button>
  </div>
</div>