<nav class="sidebar">
  <div class="logo"><img src="assets/images/lombritechlogo2.png" alt="logo2"></div>

  <ul class="nav-links">
    <li class="active">
      <img src="assets/images/icon-home.png" alt="icon-home">
      <span>Home</span>
    </li>

    <li class="section-title">
      <img src="assets/images/icon-estadistica.png" alt="icon-estadisticas">Estadísticas</li>
    <li>
      <img src="assets/images/icon-ph.png" alt="icon-ph">
      <span>Ph</span>
    </li>
    <li>
      <img src="assets/images/icon-humedad.png" alt="icon-humedad">
      <span>Humedad</span>
    </li>
    <li>
      <img src="assets/images/icon-temperatura.png" alt="icon-temperatura">
      <span>Temperatura</span>
    </li>
    <li>
      <img src="assets/images/icon-electrica.png" alt="icon-conductividad">
      <span>Conductividad</span>
    </li>

    <li class="section-break"></li>

    <li>
      <img src="assets/images/icon-controles.png" alt="icon-controles">
      <span>Controles</span>
    </li>
    <li>
      <img src="assets/images/icon-configuracion.png" alt="icon-configuracion">
      <span>Configuración</span>
    </li>
  </ul>

  <div class="footer">
    <small>– Tecnología que nutre la tierra –</small>
  </div>
</nav>
