<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vermicomposta</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="que-es-vermicomposta-container">
        <div class="que-es-vermicomposta-flex">
            <div class="que-es-vermicomposta-content">
                <h1>¿Qué es una vermicomposta?</h1>
                <p>
                    Es un proceso natural que utiliza lombrices rojas californianas para transformar 
                    residuos orgánicos, como restos de frutas y verduras, en un abono orgánico de alta calidad.
                    Este abono es rico en nutrientes y beneficioso para las plantas y el suelo.
                </p>
            </div>
            <div class="image-container">
                <img src="assets/images/gusanos1.png" alt="Vermicompostaje">
            </div>
        </div>
    </div>
</body>
</html>