
<!DOCTYPE html>
  <div class="que-es-vermicomposta-container">
    <div class="que-es-vermicomposta-flex">
      <div class="que-es-vermicomposta-content">
        <h1>¿Qué es una vermicomposta?</h1>
        <p>
          Es un proceso natural que utiliza lombrices rojas californianas para transformar 
          residuos orgánicos, como restos de frutas y verduras, en un abono orgánico de alta calidad.
          Este abono es rico en nutrientes y beneficioso para las plantas y el suelo.
        </p>
      </div>
      <div class="image-container">
        <img src="assets/images/gusanos1.png" alt="Vermicompostaje">
      </div>
    </div>
  </div>

