
          
<!DOCTYPE html>
  <div class="como-funciona-container">
    <div class="como-funciona-flex">
      <div class="como-funciona-content">
        <h1>¿Cómo funciona?</h1>
        <p>
          Los residuos orgánicos son depositados en un contenedor especial.
          Las lombrices consumen estos residuos, acelerando su descomposición.
          Como resultado, producen un abono natural llamado humus de lombriz, rico en nutrientes y microorganismos benéficos.
        </p>
      </div>
      <div class="image-container">
        <img src="assets/images/maceta.png" alt="Vermicompostaje">
      </div>
    </div>
  </div>



