<div class="body">
    <h1>Beneficios</h1>
    <div class="card">
        <ul class="lista-con-vineta-personalizada">
            <li>Reduce residuos orgánicos: disminuye la cantidad de basura que termina en vertederos.</li>
            <li>Produce abono natural: mejora la fertilidad del suelo sin necesidad de químicos.</li>
            <li>Fomenta la economía circular: convierte desechos en recursos reutilizables.</li>
            <li>No contamina: es un proceso limpio, sin químicos ni emisiones dañinas.</li>
            <li>Ideal para casa o escuela: se puede adaptar a espacios pequeños.</li>
        </ul>
    </div>
    <img src="assets/images/tierra.png" alt="tierra">
</div>